<form>
    <label for="firstName">FirstName:</label><input id="firstName" focus ng-model="employee.first_name" focus /><br/>
    <label for="lastName">LastName:</label><input id="lastName" focus ng-model="employee.last_name" focus/><br/>
    <label for="company">Company:</label><input id="company" focus ng-model="employee.company" focus/><br/>
    <label for="email">Email:</label><input id="email" focus ng-model="employee.email" focus/><br/>
    <label for="occupation">Occupation:</label><input id="occupation" ng-model="employee.occupation" focus/><br/>
    <input type="button" value="Add Employee" ng-click="updateEmployee()" />
</form>