<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<!-- This is not an appropriate usage of ng-init, but it does work.
  see: http://docs.angularjs.org/api/ng/directive/ngInit for details -->
<body ng-controller="exampleController">
  <!--<h1 ng-bind="title"></h1>-->
  <input type="button" class="btn btn-primary" value="Say Hello" ng-click="addEmployee()"/><br/>
  <label for="userInput" ng-bind="filterText">Filter:</label><input id="userInput" ng-model="userInput" type="text"/>
  <hr/>
  <p>Employees:</p>
  <ul>
    <!--http://docs.angularjs.org/api/ng/directive/ngRepeat-->
    <!--http://docs.angularjs.org/api/ng/filter/orderBy-->
    <!--Ordering on the client doesn't make sense in many situations, think before you type-->
    <li ng-repeat="employee in employees | orderBy:'last_name' | filter: userInput ">
      {{employee.first_name}} {{employee.last_name}} - {{employee.occupation | uppercase}}
    </li>
  </ul>
  <hr />
  <label for="firstName">FirstName:</label><input id="firstName" ng-model="firstName" focus /><br/>
  <label for="lastName">LastName:</label><input id="lastName" ng-model="lastName" focus/><br/>
  <label for="company">Company:</label><input id="company" ng-model="company" focus/><br/>
  <label for="email">Email:</label><input id="email" ng-model="email" focus/><br/>
  <label for="occupation">Occupation:</label><input id="occupation" ng-model="occupation" focus/><br/>
  <input type="button" value="Add Employee" ng-click="addEmployee()" />

  <script src='/javascripts/angular.js'></script>
  <script>
    //Code inlined for demo purposes only, don't actually do this in production
    function ExampleController($scope, ExampleService) {
      $scope.filterText = 'Filter';

      function updateEmployees(){
        ExampleService.fetchAllEmployees().then(function(response){
          var data = response.data;
          $scope.employees = data;
        });
      }

      function addEmployee() {
        ExampleService.addEmployee({
          active: "true",
          company: $scope.company,
          email: $scope.email,
          first_name: $scope.firstName,
          last_name: $scope.lastName,
          occupation: $scope.occupation
        }).then(function(response){
          updateEmployees();
        });
      }

      updateEmployees();
      $scope.addEmployee = addEmployee;
    }

    function ExampleService($http){
      this.fetchAllEmployees = function(){
        return $http.get('/employees');
      };

      this.addEmployee = function(employee){
        return $http.post('/employees/add',employee);
      };
    }

    var example = angular.module('exampleApp',[]);
    example.service('ExampleService',['$http',ExampleService]);
    example.controller('exampleController',['$scope','ExampleService',ExampleController]);
  </script>
</body>
</html>