<!DOCTYPE html>
<html ng-app>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!-- This is not an appropriate usage of ng-init, but it does work.
    see: http://docs.angularjs.org/api/ng/directive/ngInit for details -->
  <body ng-init='employees=<%-employees%>'>
    <!--<h1 ng-bind="title"></h1>-->
    <input ng-model="title" type="text" />{{title}}
    <hr/>
    <p>Employees:</p>
    <ul>
        <!--http://docs.angularjs.org/api/ng/directive/ngRepeat-->
        <li ng-repeat="employee in employees">{{employee.first_name}} {{employee.last_name}}</li>
    </ul>
  <script src='/javascripts/angular.js'></script>
  </body>
</html>