<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 ng-bind="title"></h1>
    <input ng-bind="title" type="text" />
  <script src='/javascripts/angular.js'></script>
  </body>
</html>