<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<!-- This is not an appropriate usage of ng-init, but it does work.
  see: http://docs.angularjs.org/api/ng/directive/ngInit for details -->
<body>
  <div ng-view="" ng-animate="'animate'"></div>
  <script src='/javascripts/angular.js'></script>
  <script src='/javascripts/angular-route.js'></script>
  <script>
    //Code inlined for demo purposes only, don't actually do this in production
    function ExampleController($scope, ExampleService) {
      $scope.filterText = 'Filter';

      function updateEmployees(){
        ExampleService.fetchAllEmployees().then(function(response){
          var data = response.data;
          $scope.employees = data;
        });
      }

      function addEmployee() {
        ExampleService.addEmployee({
          active: "true",
          company: $scope.company,
          email: $scope.email,
          first_name: $scope.firstName,
          last_name: $scope.lastName,
          occupation: $scope.occupation
        }).then(function(response){
          updateEmployees();
        });
      }

      updateEmployees();
      $scope.addEmployee = addEmployee;
    }

    function ExampleService($http){
      this.fetchAllEmployees = function(){
        return $http.get('/employees');
      };

      this.addEmployee = function(employee){
        return $http.post('/employees/add',employee);
      };
    }

    function focusDirective() {
      return {
        restrict: 'A',
        link: function ($scope, element, attrs) {
          element.bind('keypress keydown', function (e) {
            var code = e.keyCode || e.which;
            if (code === 13) {
              // Find all form elements that can receive focus
              var focusable = element[0].form.querySelectorAll('input,select,button,textarea');

              // Get the index of the currently focused element
              var currentIndex = Array.prototype.indexOf.call(focusable, e.target);

              // Find the next items in the list
              var nextIndex = (currentIndex == focusable.length - 1) ? 0 : currentIndex + 1;

              // Focus the next element
              if (nextIndex >= 0 && nextIndex < focusable.length)
              {
                focusable[nextIndex].focus();
              }
              e.preventDefault();
            }
          });
        }
      }
    }

    function detailsController($scope, $routeParams, ExampleService){
      ExampleService.fetchAllEmployees().then(function(response){
        var data = response.data;
        $scope.employees = data;
        $scope.employee = $scope.employees[$routeParams.index];
      });

      function updateEmployees(){
        ExampleService.fetchAllEmployees().then(function(response){
          var data = response.data;
          $scope.employees = data;
          $scope.employee = $scope.employees[$routeParams.index];
        });
      }

      $scope.updateEmployee = function(){
        ExampleService.updateEmployee({
          active: "true",
          company: $scope.employee.company,
          email: $scope.employee.email,
          first_name: $scope.employee.first_name,
          last_name: $scope.employee.last_name,
          occupation: $scope.employee.occupation
        }).then(function(response){
          updateEmployees();
        });
      }
    }

    var example = angular.module('exampleApp',['ngRoute']);
    example.directive('focus',focusDirective);
    example.service('ExampleService',['$http',ExampleService]);
    example.controller('exampleController',['$scope','ExampleService',ExampleController]);
    example.controller('detailsController',['$scope','$routeParams','ExampleService',detailsController]);

    example.config(['$routeProvider',
      function($routeProvider){
        $routeProvider.
          when('/',{
            templateUrl: 'partials/index.html',
            controller: 'exampleController'
          }).
          when('/details/:index',{
            templateUrl: 'partials/details.html',
            controller: 'detailsController'
          }).
          otherwise({
            redirectTo: '/'
          });
      }
    ]);
  </script>
</body>
</html>